@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  max-width: 100%;
  min-height: 30px;
  background-color: #100F0F;
}

.outside-container {
  height: 100vh;
  background-color: #F1F1F1;
  color: #E2DCC8;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5%;
  min-height: 400px;
  padding: 20px;
  background-color: #E2DCC8;
}

.btn {
  display: inline-block;
  background: #000;
  color: #F1F1F1;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: inherit;
}