@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

.navbar {
  max-width: 100%;
  min-height: 30px;
  background-color: #100F0F;
  font-family: 'Bree Serif', serif;
}

.outside-container {
  height: 100%;
  background-color: #F1F1F1;
  color: #E2DCC8;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5%;
  min-height: 400px;
  padding: 20px;
  background-color: #E2DCC8;
}

.header {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #000;
  color: #F1F1F1;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: inherit;
  margin: 10px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.task {
  background-color: #0F3D3E;
  margin: 5px;
  cursor: pointer;
  color: white;
  padding: 15px 10px;
  font-family: 'Volkhov', serif;
  font-size: 20px;
  border-radius: 5px;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.task.reminder {
  border-left: 5px solid red;
}

.user-form {
  margin-bottom: 30px;
}

.form-control {
  color: #100F0F;
  margin: 10px 5px 5px 5px;
  font-family: 'Volkhov', serif;
  font-size: 20px;
}

.form-control input {
  width: 98.5%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

#checkbox input {
  display: block;
  width: 30px;
  height: 30px;
}

#actual-checkbox {
  height: 40px;
  width: 40px;
}

.ending-with-saveTask {
  display: flex;
  height: 50px;
  justify-content: space-between;
}

#submit {
  width: 100px;
  background: #000;
  color: #F1F1F1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

